= content_for :page_title do
  = "注册|Koala"

#registration
  .container-fluid
    .row-fluid
      .row-fluid
        .span12.center.login-header
          %h3#welcome
            欢迎加入Koala

      .row-fluid
        .well.span4.center.login-box
          .alert.alert-info 
            请使用邮箱注册
          = form_for(resource, :as => resource_name, :validate => true, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
            %fieldset
              %label{:for => "user_email"}
              = f.email_field :email, :placeholder => "Email", :class =>"input-large span8", :required => true

              .clearfix

              %label{:for => "user_username"}
              = f.text_field :username, :placeholder => "Username", :class =>"input-large span8", :required => true
              .clearfix

              %label{:for => "user_password"}
              = f.password_field :password, :placeholder => "Password", :class =>"input-large span8", :required => true, :pattern => "......+" 
              .clearfix

              .center.span8
                = f.submit "注册", :class => "btn btn-primary" 
